*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app{
width: 100%;
min-height: 100vh;
display: flex;
}
h1{
    color: #fff;
    font-size: 45px;
    line-height:1;
    position:absolute;
    top: 50px;left: 50%;
    transform: translateX(-50%);
}
.container{
    margin: auto;
    width: 100%;
    max-width:590px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.container.card{
    width: 100%;
    max-width:100px;
    max-width: 10px 0;
    text-align:center;
    
    
}
.container .card p{
    margin: 12px 0 ;
    font-weight: 600;
    cursor: pointer;
}
.container .card .box{
    width: 14vh;
    height: 67px;
    border-radius:12px;
    cursor: pointer;
}