{
  "singleQuote": true,
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
