#card {
    transform: rotateY(180deg);
}

#card > div:nth-child(1) {
    transition-delay: 150ms;
}

#card > div:nth-child(1) {
    opacity: 0;
    z-index: -1;
}
#demo {
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}
